extends layout.pug

block head
  link(rel="stylesheet", href="/tables.css")

block content
  .form-container
    form(action="/cities", method="GET")
      input(type="text", name="continent", placeholder="Enter continent")
      input(type="text", name="region", placeholder="Enter region")
      input(type="text", name="country", placeholder="Enter Country")
      input(type="text", name="district", placeholder="Enter District")
      input(type="number", name="topN",min=1, placeholder="top N")
      br
      button(type="submit") Search
  h2 #{heading}
  table
    thead
      th Name
      th Country
      th District
      th Population
    tbody
      each row, i in rows
        tr
          td.fit #{row.Name}
          td.fit #{row.Country}
          td.fit #{row.District}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number #{population}
