extends layout.pug

block head
  link(rel="stylesheet", href="/tables.css")

block content
  .form-container
    form(action="/countries", method="GET")
      input(type="text", name="continent", placeholder="Enter continent")
      input(type="text", name="region", placeholder="Enter region")
      input(type="number", name="topN",min=1, placeholder="top N")
      br
      button(type="submit") Search
  h2 #{heading}
  table
    thead
      th Code
      th Name
      th Continent
      th Region
      th Population
      th Capital
    tbody
      each row, i in rows
          tr
            td.fit #{row.CountryCode}
            td.fit #{row.Name}
            td.fit #{row.Continent}
            td.fit #{row.Region}
            - const population = new Intl.NumberFormat().format(row.Population);
            td.fit.number #{population}
            td.fit #{row.Capital}
